:root {
  --dark-gray: #374151;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
}

/* COMMON */
.common-pd {
  padding: 16px 64px;
}

/* HEADER */
.header {
  background-color: var(--dark-gray);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}

.logo-img {
  height: 32px;
  width: 32px;
}

.logo-text {
  font-size: 1.75rem;
}

.cart {
  position: relative;
}

.cart-icon {
  height: 28px;
  width: 28px;
}

.cart-quantity-wrapper {
  background-color: #ffffff;
  border-radius: 50%;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.675rem;
  height: 24px;
  width: 24px;
  position: absolute;
  padding: 4px;
  z-index: 10;
  top: 14px;
  left: 16px;
}

/* CONTENT */
.content {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 64px - 44px);
  padding-top: 32px;
  padding-bottom: 32px;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(252px, 1fr));
  gap: 24px;
  justify-content: center;
  width: 100%;
}

.product-card {
  border: 1px solid #d1d5db;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.875rem;
  padding: 16px;
}

.product-image-wrapper {
  align-self: center;
  height: 220px;
  width: 220px;
}

.product-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product-name {
  flex: 1;
  padding-top: 24px;
  padding-bottom: 12px;
}

.product-price {
  font-weight: bold;
}

.add-item-button {
  background-color: var(--dark-gray);
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 12px;
}

/* FOOTER */
.footer {
  background-color: var(--dark-gray);
  color: #ffffff;
  font-size: 0.675rem;
  text-align: center;
}
