@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-VariableFont_wght.ttf');
  font-weight: 100 900;
}

:root {
  --dark-gray: #374151;

  --clr-blue: #2563eb;
  --clr-white: #ffffff;
  --clr-neutral: #404040;
  --clr-light-gray: #f3f3f3;
  --clr-gray: #f3f4f6;
  --clr-black: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'OpenSans', sans-serif;
}

/* COMMON */
.common-pd {
  padding: 16px 6rem;
}

/* HEADER */
.header {
  background-color: var(--clr-white);
  color: var(--clr-neutral);
  display: flex;
  padding: 2rem 6rem;
}

.header-logo-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
}

.header-logo-text-large {
  font-size: 2rem;
}

.header-logo-text {
  font-size: 1.5rem;
}

.header-links-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 0.75rem;
  font-weight: 500;
}

.header-link {
  color: inherit;
  outline: none;
  padding: 4px 0;
  text-decoration: none;
}

.header-link:active {
  font-size: 0.675rem;
}

.header-cart-link-wrapper {
  flex: 1;
  display: flex;
}

.header-cart-link {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
  outline: none;
  text-decoration: none;
}

.header-cart-icon {
  height: 20px;
  width: 20px;
}

.header-cart-quantity-wrapper {
  background-color: var(--clr-neutral);
  border-radius: 50%;
  color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.675rem;
  height: 24px;
  width: 24px;
  padding: 4px;
}

/* CONTENT */
.content {
  display: flex;
  justify-content: center;
  /* viewport height - header - footer */
  min-height: calc(100vh - 65px - 47px);
}

/* HOME */
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-intro-wrapper {
  background-image: url('./images/background-home.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  /* viewport height - header*/
  height: calc(100vh - 102px);
  width: 100%;
  padding: 0 6rem;
  position: relative;
}

.home-intro-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  text-align: center;
}

.home-intro-text {
  font-family: 'Inter', sans-serif;
  font-size: 2.75rem;
  font-weight: 900;
}

.home-shop-link {
  border: 1px solid var(--clr-white);
  border-radius: 4px;
  color: var(--clr-white);
  padding: 12px 30px;
  outline: none;
  text-decoration: none;
  width: max-content;
}

.home-shop-link:hover {
  box-shadow: 0 0 1px 1px var(--clr-white);
}

/* SHOP */
.shop {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  grid-row-gap: 36px;
  justify-content: center;
  background-color: var(--clr-white);
  width: 100%;
  padding: 0 6rem 4rem 6rem;
}

/* PRODUCT CARD */
.product-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.875rem;
  overflow: hidden;
  position: relative;
}

.product-card-in-cart {
  background-color: #3b82f6;
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}

.product-card-image-wrapper {
  align-self: center;
}

.product-card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-card-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-card-price {
  font-weight: bold;
}

/* PRODUCT */
.product {
  display: flex;
  justify-content: center;
  gap: 36px;
  max-width: 1080px;
  padding: 0 6rem 4rem 6rem;
}

.product-image-wrapper {
  height: 480px;
  width: 480px;
  position: relative;
}

.product-in-cart {
  background-color: #3b82f6;
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}

.product-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product-details-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.product-description {
  color: #4b5563;
  font-size: 0.875rem;
}

.product-cart-control {
  display: flex;
  gap: 12px;
  margin-top: auto;
  width: 100%;
}

.product-quantity-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-quantity-label {
  font-size: 0.75rem;
}

.product-quantity-select {
  height: 42px;
  width: 64px;
  outline: none;
}

.product-add-to-cart {
  background-color: #1d4ed8;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: auto;
  outline: none;
  height: 42px;
  width: 100%;
  padding: 12px;
}

.product-cart-limit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d4ed8;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  margin-top: auto;
  outline: none;
  height: 42px;
  width: 100%;
  padding: 12px;
}

/* CART */
.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
  padding: 0 6rem 4rem 6rem;
}

/* CART HEADER */
.cart-header {
  text-align: center;
  font-size: 1.5rem;
}

.cart-header-text {
  font-weight: bold;
}

.cart-header-total {
  font-size: 0.875rem;
}

/* CART BUTTONS */
.cart-button-bottom-wrapper {
  margin-top: auto;
}

.cart-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-button {
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  margin-top: auto;
  outline: none;
  padding: 12px;
  text-decoration: none;
}

.cart-button.continue-shopping {
  background-color: #f3f4f6;
  color: #000000;
}

.cart-button.proceed-checkout {
  background-color: #10b981;
  color: #ffffff;
}

/* CART SUMMARY */
.cart-summary-wrapper {
  display: flex;
  gap: 48px;
}

/* CART ITEMS */
.cart-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart-card-line-break {
  background-color: #d1d5db;
  height: 1px;
}

.cart-card {
  display: flex;
  gap: 16px;
}

.cart-card-image-wrapper {
  align-self: center;
  height: 100px;
  width: 100px;
}

.cart-card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cart-card-details-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-cart-title-price {
  display: flex;
  justify-content: space-between;
}

.cart-card-item-control {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.cart-card-remove-item {
  background-color: transparent;
  border: none;
  color: #ef4444;
  cursor: pointer;
  font-size: 0.675rem;
  outline: none;
}

.cart-card-quantity-select {
  height: 36px;
  width: 36px;
  outline: none;
}

/* ORDER SUMMARY */
.cart-order-summary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 320px;
}

.cart-order-amount-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart-subtotal-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-shipping-fee-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-line-break {
  background-color: #d1d5db;
  height: 1px;
}

.cart-total-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 6rem 4rem 6rem;
}

.cart-empty-image-wrapper {
  height: 320px;
  width: 320px;
}

.cart-empty-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cart-empty-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.cart-empty-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.cart-empty-subtext {
  font-size: 0.875rem;
}

.cart-empty-shop {
  border: 1px solid var(--clr-black);
  border-radius: 4px;
  color: var(--clr-black);
  padding: 12px 30px;
  outline: none;
  text-decoration: none;
  width: max-content;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--clr-black);
  color: #ffffff;
  padding: 3rem 0;
}

.footer-main-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 6rem;
}

.footer-newsletter-socmed-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: max-content;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.footer-newsletter-header {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
}

.footer-newsletter-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-white);
  border-radius: 4px;
  padding: 16px 24px;
  width: 320px;
}

.footer-newsletter-email {
  background-color: transparent;
  border: none;
  color: var(--clr-white);
  font-family: 'OpenSans';
  font-size: 0.875rem;
  outline: none;
  width: 100%;
}

.footer-newsletter-submit-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  height: 18px;
  width: 18px;
}

.footer-socmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.footer-socmed-header {
  color: var(--clr-gray);
  font-size: 0.875rem;
}

.footer-socmed-icons {
  display: flex;
  gap: 12px;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-ul-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 0.75rem;
  list-style-type: none;
}

.footer-links-header {
  font-weight: 900;
}

.footer-link {
  cursor: pointer;
}

.footer-line-break {
  background-color: var(--clr-neutral);
  height: 1px;
  width: 100%;
}

.footer-project-details {
  display: flex;
  justify-content: space-between;
  color: var(--clr-neutral);
  font-size: 0.75rem;
  padding: 0 6rem;
  width: 100%;
}

.footer-attribution a {
  color: var(--clr-white);
  font-weight: 900;
  text-decoration: none;
}
