@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open_Sans';
  src: url('./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-VariableFont_wght.ttf');
  font-weight: 100 900;
}

:root {
  --dark-gray: #374151;

  --clr-blue: #2563eb;
  --clr-white: #ffffff;
  --clr-neutral: #404040;
  --clr-light-gray: #f3f3f3;
  --clr-gray: #f3f4f6;
  --clr-black: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'OpenSans', sans-serif;
}

/* COMMON */
.common-pd {
  padding: 16px 6rem;
}

/* CART */
.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
  padding: 0 6rem 4rem 6rem;
}

/* CART HEADER */
.cart-header {
  text-align: center;
  font-size: 1.5rem;
}

.cart-header-text {
  font-weight: bold;
}

.cart-header-total {
  font-size: 0.875rem;
}

/* CART BUTTONS */
.cart-button-bottom-wrapper {
  margin-top: auto;
}

.cart-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-button {
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  margin-top: auto;
  outline: none;
  padding: 12px;
  text-decoration: none;
}

.cart-button.continue-shopping {
  background-color: #f3f4f6;
  color: #000000;
}

.cart-button.proceed-checkout {
  background-color: #10b981;
  color: #ffffff;
}

/* CART SUMMARY */
.cart-summary-wrapper {
  display: flex;
  gap: 48px;
}

/* CART ITEMS */
.cart-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart-card-line-break {
  background-color: #d1d5db;
  height: 1px;
}

.cart-card {
  display: flex;
  gap: 16px;
}

.cart-card-image-wrapper {
  align-self: center;
  height: 100px;
  width: 100px;
}

.cart-card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cart-card-details-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-cart-title-price {
  display: flex;
  justify-content: space-between;
}

.cart-card-item-control {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.cart-card-remove-item {
  background-color: transparent;
  border: none;
  color: #ef4444;
  cursor: pointer;
  font-size: 0.675rem;
  outline: none;
}

.cart-card-quantity-select {
  height: 36px;
  width: 36px;
  outline: none;
}

/* ORDER SUMMARY */
.cart-order-summary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 320px;
}

.cart-order-amount-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart-subtotal-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-shipping-fee-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-line-break {
  background-color: #d1d5db;
  height: 1px;
}

.cart-total-wrapper {
  display: flex;
  justify-content: space-between;
}
